@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body{
   background-color: #2E2E2E;
}
.green{
  color: green;
}
.tab{
  width: 400px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.obs{
  color: #2E2E2E;
  padding: 15px;
  background-color: #E6E6E6;
}
.mark{
  color: #BE81F7;
  font-weight: bold;
}
.subtitle{
  color: #A901DB;
  font-weight: bold;
}
.topics{
  font-size: 20px;
}
.footer{
  position: absolute;
  left: 200px;
  bottom: initial;
  width: 100%;
  background-color: #4b4276;
  color: white;
  padding-left: 15%;
}
.alpha{
  color: #ECCEF5;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100 bold;
}

.wrapper{

  display: flex;
  position: relative;
}

.wrapper .sidebar{
  overflow-y: scroll;
  width: 215px;
  height: 100%;
  background: #2E2E2E;
  padding: 30px 0px 0px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  
  color:#A901DB;
  text-align: center;
  margin-bottom: 15px;
}

.wrapper .sidebar ul li{
  padding: 10px;
  height: 40px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #BE81F7;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}


.ttpage{
  background: -webkit-linear-gradient(#eee, #A901DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*scroll */
 /* width */
::-webkit-scrollbar {
  width: 7px;
  height: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #A901DB;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}


.wrapper .sidebar .social_media{
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 30px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}